#root {
    height: 100vh;
}

html {
    height: 100%;
}

/* ----------------------------- Top-Level Setup ---------------------------- */
.container-primary {
    width: 100%;
    height: 100%;
    //padding: 0 10px;
}

.container-secondary {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.container-secondary1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.list-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding: 12px 24px;
}

.table-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding-top: 12px;
    padding-bottom: 12px;
    //padding-top: 12px;
    //padding-left: 12px;
    //margin-top: 12px;
    //margin-bottom: 12px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}

.table {
    display: flex;
    width: 85%;
    height: 95%;
    flex-direction: column;
}

.map-table {
    display: flex;
    width: 60%;
    height: 550px;
    flex-direction: column;
}

.map-table-header {
    width: 100%;
}

.map-table-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-top: 7%;
}

.map-body-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    overflow-x: scroll;
    scrollbar-width: thin;
}

.map-body-new {
    align-self: baseline;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.region-table{
    display: flex;
    width: 80%;
    height: 90%;
    flex-direction: column;
    color: white;
    background-color: #282828;
    //2a2a2a
}

.region-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.region-left {
    align-self: baseline;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    padding: 10px 50px;
}

.region-right {
    //align-self: baseline;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    padding-left: 50px;
}
 
.edit-button {
    margin-left: 15px;
    color: orange
}

.region-first {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    padding-left: 10px;
}

.landmark-box {
    //align-self: center;
    //justify-self: center;
    padding-top: 10px;
    width: 85%;
    height: 80%;
    background-color: black;
    overflow-x: scroll;
}

.landmark-entry {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    align-items: center;
    flex-shrink: 0;
}

.add-box {
    display: flex;
    flex-direction: row;
    width: 85%;
    background-color: #474747;
    align-items: center;
}

.new-landmark-box {
    background-color: #a9a9a9;
    color: black;
    font-weight: bold;
    margin-left: 5px;
    padding: 7px;
    width: 50%;
}

.map-entry {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    width: 100%;
    height: 60px;
    overflow-y: scroll;
}

.map-name-label {
    display: flex;
    width: 90%;
    padding-left: 30px;
    margin: auto;
}

.globe-welcome {
    display: block;
    margin: auto;
    width: 500px;
}

.flag-viewer {
    display: block;
    width: 400px;
}

.flag-spreadsheet {
    display: block;
    width: 30px;
    margin-left: 80px;
}

.globe-maps {
    display: block;
    margin: auto;
    width: 350px;
}

.info-rows {
    display: flex;
    flex-direction: row;
}

.info-spacer{
    width: 10px;
}

.info-col-spacer{
    height: 10px;

}

.table-entries {
    overflow-y: scroll;
}

.table-header {
    width: 100%;
    box-sizing: border-box;
    padding-left:10px
}

.table-header-intro {
    height: 40px;
}

.cross-table-header {
    //width: 30px;
}

.table-header-section {
    width: 100%;
    height: 100%;
    padding-left: 50px;
}

.table-header-land {
    width: 100%;
    height: 100%;
    padding-left: 130px;
}

.table-header-button {
    padding: 0;
    margin-left: 36px;
    margin-bottom: 40px;
}

.table-header-spacer {
    width: 10px;
}

.table-header-name {
    margin-left:10px;
}
.table-header-button-disabled{
    padding: 0;
    margin-left: 12px;
    cursor: default;
}

.table-header-buttons {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}

.table-entry-buttons {
    padding: 0;
    margin-left: 18px;
    margin-right: 18px;
}

.button-group {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    width: 340px;
    overflow-x: scroll;
    scrollbar-width: thin;
}

.arrows {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}

.modal-input {
    width: 100%;
}

.login-modal {
    width: 500px;
}

.signup-modal {
    width: 500px;
}

.modal-col-gap{
    column-gap: 24px;
}

.modal-button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.modal-spacer {
    height: 24px;
}

.main-login-modal {
    padding: 24px 24px 0px 24px;
}

.modal-error {
    height: 50px;
    align-items: center;
    display: flex;
}

.col-spacer {
    width: 250px;
    display: inline-block;
}






.list-item-edit, .table-input, .table-select {
    width: 100%;
}

.list-item-edit-input {
    padding: 23px 24px 24px 24px !important;
}

.table-input, .table-select {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.table-input-class {
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: white !important;
    color: black !important;
    //font-size: 1.125rem;
}

.name-displayer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.region-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.middle-header {
    width: 810px;
    //justify-content: center;
}

.empty-path {
    width: 340px;
}