#root {
    height: 100vh;
}

html {
    height: 100%;
}

/* ----------------------------- Top-Level Setup ---------------------------- */
.container-primary {
    width: 100%;
    height: 100%;
    padding: 0 24px;
}

.container-secondary {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.list-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding: 12px 24px;
}

.table-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding-bottom: 12px;
    padding-top: 12px;
    cursor: pointer;
}

.table {
    display: flex;
    width: 90%;
    height: 95%;
    flex-direction: column;
}

.map-table {
    display: flex;
    width: 60%;
    height: 550px;
    flex-direction: column;
}

.map-table-header {
    width: 100%;
}

.map-table-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-top: 7%;
}

.map-body-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    overflow-x: scroll;
    scrollbar-width: thin;
}

.map-body-new {
    align-self: baseline;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.map-entry {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    width: 100%;
    height: 60px;
    overflow-y: scroll;
}

.map-name-label {
    display: flex;
    width: 90%;
    padding-left: 30px;
    margin: auto;
}

.globe-welcome {
    display: block;
    margin: auto;
    width: 500px;
}

.globe-maps {
    display: block;
    margin: auto;
    width: 350px;
}


.table-entries {
    overflow-y: scroll;
}

.table-header {
    width: 100%;
    box-sizing: border-box;
}

.table-header-intro {
    height: 30px;
}

.cross-table-header {
    //width: 30px;
}

.table-header-section {
    width: 100%;
    height: 100%;
    padding-left: 70px;
}

.table-header-button {
    padding: 0;
    margin-left: 36px;
}

.table-header-spacer {
    width: 20px;
}

.table-header-button-disabled{
    padding: 0;
    margin-left: 12px;
    cursor: default;
}

.table-header-buttons {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}

.table-entry-buttons {
    padding: 0;
    margin-left: 18px;
    margin-right: 18px;
}

.button-group {
    height: 100%;
    display: flex;
    align-items: center;
}


.modal-input {
    width: 100%;
}

.login-modal {
    width: 500px;
}

.signup-modal {
    width: 500px;
}

.modal-col-gap{
    column-gap: 24px;
}

.modal-button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.modal-spacer {
    height: 24px;
}

.main-login-modal {
    padding: 24px 24px 0px 24px;
}

.modal-error {
    height: 50px;
    align-items: center;
    display: flex;
}

.col-spacer {
    width: 250px;
    display: inline-block;
}






.list-item-edit, .table-input, .table-select {
    width: 100%;
}

.list-item-edit-input {
    padding: 23px 24px 24px 24px !important;
}

.table-input, .table-select {
    height: 100%;
    display: flex;
    align-items: center;
}

.table-input-class {
    padding-left: 0px !important;
    padding-right: 0px !important;
    //font-size: 1.125rem;
}