@use 'node_modules/wt-frontend/build/global/theme' with (
    $primary-color: #ffc800,
    $background-color: #181818,//#d9d6cc,
    $navbar-background-color: black,
    $text-color: #e9edf0,
    $modal-background: rgb(64, 69, 78),
    $modal-section-padding: 24px,
    $modal-radius: 4px,
    $modal-border: 1px solid rgb(87, 93, 105),
    $modal-button-color: rgba(255,255,255, 0.7),
    $modal-button-hover: #e9edf0,
    $button-text-color: black,
    // other variable changes here
);

@use 'node_modules/wt-frontend/build/global/wolfie' as *;
@use 'node_modules/wt-frontend/build/global/components';

:root {
    --warm-white: #f9f7f1;
    --warm-white-transparent: #f9f7f111;
    --warmer-white: #f9f7dd;
    --blue-slate: #2c3437;
    --light-green: #99cc7d;
    --lighter-green: #bdfc9b;
    --light-orange: #f5bc75;
    --light-blue: #8ed4f8;
    --light-purple: #dbbdf9;
    --light-pink: #fbb4d2;
    --light-yellow: #e6db74;
    --light-beige: #d9d6cc;
    --light-gray: #e9edf0;
	--bright-orange: #fca234;
	--yellow-orange: #ffc800;
    --hover-light: rgba(255,255,255, 0.7);
    --deep-blue:  rgb(64, 69, 78);
    --deep-blue-lighter:  rgb(87, 93, 105);
    /* --deep-blue:  #282c34; */
    --button-transparent:  rgba(255,255,255, 0);
    --deep-blue-darker:  #353a44;
	/* --deep-blue-darker:  #282c34; */
	--blue-gray: #7e8084;
	--darkblue-gray: #2b2e36;
    --warm-black: #322d2d;
}

html, body {
    margin: 0;
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $background-color;
}

.complete-task {
    color: var(--light-blue);
}

.incomplete-task {
    color: $primary-color;
}

.list-item-active {
    background-color: var(--deep-blue);
}

.list-item {
    cursor: pointer;
}

.list-item-edit-input, .table-input {
    font-size: 1.125rem !important;
}

.logo {
	color: #CC0000;
    font-size: 1.5rem;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
} 

.logo-hover:hover {
    color: #FF8000;
}

.modal-error {
    color: $primary-color;
    font-size: 14px;
}

.map-table {
    background-color: black;
}

.map-table-header {
    background-color: #990000;
    font-weight: 1000;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: var(--warm-white);
}

.map-body-list {
    background-color: #FFDDCC;
}

.map-body-new {
    background-color: #002266;
}

.map-create-button {
    background-color: #990000;
    color: var(--warm-white);
    font-weight: 1000;
    font-size: 22px;
    justify-content: center;
}

.map-name-label {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.map-delete-button {
    background-color:#FFDDCC ;
    color: #444444;
}

.map-edit-button {
    background-color:#FFDDCC ;
    color: #444444;
}

.edit-button:hover {
    color: red;
    cursor: pointer;
}

.viewer-add {
    color: green;
}

.viewer-add:hover {
    color: red;
    cursor: pointer;
}

.close-landmark {
    color: #202020;
}

.close-landmark:hover {
    color: red;
    cursor: pointer;
}

.landmark-text {
    font-weight: bold;
    font-size: 17px;
}

.viewer-parent {
    color: #00AAFF;
}

.viewer-parent:hover {
    color: #002AFF;
    cursor: pointer;
}

.map-modal {
    background-color: black;
}

.modal-header {
    background-color: #990000;
}

.map-name-label:hover {
    color: #990000;
}

.table {
    background-color: #838383;
}

.table-entries {
    scrollbar-width: thin;
}

.landmarks-label {
    font-weight: bold;
    font-size: 25px;
    padding-left: 30px;
}

.table-entries::-webkit-scrollbar, .wsidebar::-webkit-scrollbar {
	width: 5px;
	height: 8px;
	background-color: var(--darkblue-gray); 
}
.table-entries::-webkit-scrollbar-thumb .wsidebar::-webkit-scrollbar-thumb {
	width: 5px;
	height: 8px;
	background-color: var(--blue-gray); 
}

.table-entry {
    border-bottom: 1px solid;
    color: $text-color;
    transition: 0.1s ease-in-out;
    height: 46px;
    justify-content: center;
}

.table-entry:hover {
    background-color: var(--warm-white-transparent);
}

.table-text:hover {
    color: black;
    background-color: white;
}

.table-header-button {
    transition: 0.1s ease-in-out;
    color: var(--light-gray);
}

.table-header-button-disabled {
    transition: 0.1s ease-in-out;
    color: var(--warm-black);
}

.table-header {
    background-color: #990000 ;
}

.table-header-intro {
    background-color: #181818 ;
    color: white;
}

.viewer-header {
    display: flex;
    flex-direction: row;
}

#add-button {
    color: #00CC44;
}

.spreadsheet-header {
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

.table-header-section {
    font-size: 1.375rem;
    font-weight: bold;
    color: $text-color;
}

.table-header-section-disabled {
    font-size: 1.375rem;
    font-weight: bold;
    color: $text-color;
    pointer-events: none;
}

.table-header-land {
    font-size: 1.375rem;
    font-weight: bold;
    color: $text-color;
}

.table-header-section:hover {
    transition: 0.1s ease-in-out;
    cursor: pointer;
    background-color: var(--deep-blue-lighter);
}


.info-viewer {
    font-weight: bold;
    font-size: 18px;
    padding-left: 5px;
    margin-top: 35px;
}


.table-select {
    font-family: Roboto;
    //font-size: 14px;
    font-size: 1.125rem;
    border: none;
    background-color: var(--deep-blue-lighter);
    color: var(--light-gray);
}

.modal-header {
    color: $text-color;
    font-size: 28px;
}

.navbar-options {
    color: $text-color;
    font-size: 20px;
    font-weight: bold;
}

.landmark-box {
    background-color: black;
}

.cancel-button {
    color: $text-color;
}

.undo-redo {
    color: $text-color;
}

.table-entry-buttons {
    color: $text-color;
}

#welcomeLabel {
    font-size: 60px;
    color: var(--warm-white);
    padding-top: 30px;
}

#createAccount-label {
    color: #FF9999;
}

#username-label {
    color: #FF9999;
}

.disbaled-button {
    color: var(--warm-black);
    cursor: default;
}

.region-name {
    color: #00AAFF;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

.route-header {
    font-size: 17px;
}

.path-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}